[mysqld]
character-set-server  = utf8mb4
collation-server      = utf8mb4_unicode_ci

# logging
general_log      = 1
general_log_file = /var/lib/mysql/general.log

slow_query_log      = 1
slow_query_log_file = /var/lib/mysql/slow-query.log

# Import all .cnf files from configuration directory
!includedir /etc/mysql/mysql.conf.d
